# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Project specific settings
build.properties
build.wildcat.properties
brapi-client.jar
lib/brapi.jar
web/context.xml

# IntelliJ IDEA specific settings
.idea
*.iml
