# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Project specific settings
build.properties
lib/curlywhirly.jar
installer
keys
docs/_build_html/
docs/sphinx-env/
nbproject/

# IntelliJ IDEA specific settings
.idea
*.iml
