@CHARSET "ISO-8859-1";

a:link {
		color: #416A89;
		text-decoration: none
}

a:visited {
		color: #760303;
		text-decoration: none
}

a:active {
		color: #894141;
		text-decoration: none
}

a:hover {
		color: #D00202;
		text-decoration: none
}

a.header:link {
		color: #416A89;
		text-decoration: none
}

a.header:visited {
		color: #760303;
		text-decoration: none
}

a.header:active {
		color: #894141;
		text-decoration: none
}

a.header:hover {
		color: #D00202;
		text-decoration: none
}

HTML,BODY {
		background: white;
		color: black;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		padding: 0;
		margin: 0;
		font-size: 12px;
}

H1,H2,H3,H4,H5,H6 {
		color: #415a89;
		font-family: Verdana, Arial, Helvetica, sans-serif;
}

TABLE { #
		border-collapse: collapse;
}

TABLE.outline {
		background: lightgray;
		border-color: #6E94B7;
		border-style: solid;
		border-width: 1px;
}

TABLE.grey {
		background: lightgray;
}

TD.outline {
		border-color: #6E94B7;
		border-style: solid;
		border-width: 1px;
}

TD.fixedwidth {
		width: 500px;
}

TR.outline {
		border-color: #6E94B7;
		border-style: solid;
		border-width: 1px;
}

B
{
	color: #415a89;
	font-weight: bolder;
}